.demoGridItem {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  background-color: azure;
  border-radius: 16px;
}

.gridIcon {
  padding-top: 14px;
}

.tableList {
  padding-top: 14px;
}
