@import 'annar/esm/style/theme/index.scss';

.title {
  box-sizing: border-box;
  height: 112px;
  line-height: 112px;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color: black;
}
.content {
  padding: 28px;
}
.padding {
  padding: 28px;
}
